<style>
	.w-e-text-container{
    height: 540px !important;
}
</style>
<form class="layui-form layui-form-pane" lay-filter="formTest" action="">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		<legend id="titleText">对报告进行批复</legend>
	</fieldset>

	<div style="margin-left: 40px;margin-right: 40px;">
		<!-- 分成两个部分的栅格系统 -->
		<div class="layui-row">

			<div class="layui-col-xs6">

				<div class="layui-form-item" pane>
					<label class="layui-form-label">项目主题:</label>
					<div class="layui-input-block">
						<input type="text" name="title" disabled required lay-verify="required" placeholder="请输入项目主题" autocomplete="off"
						 class="layui-input">
					</div>
				</div>
				<div class="layui-form-item" pane>
					<label class="layui-form-label">收件人:</label>
					<div class="layui-input-block">
						<input type="checkbox" name="manager[li]" title="李领导" disabled>
						<input type="checkbox" name="manager[mao]" title="毛领导" disabled>
						<input type="checkbox" name="manager[hu]" title="胡领导" disabled>
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">

				<div class="layui-form-item" pane>
					<label class="layui-form-label">项目类别:</label>
					<div class="layui-input-block">
						<select name="city" lay-verify="required" disabled>
							<option value=""></option>
							<option value="0">北京</option>
							<option value="1">上海</option>
							<option value="2">广州</option>
							<option value="3">深圳</option>
							<option value="4">杭州</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item" pane>
					<label class="layui-form-label">是否:</label>
					<div class="layui-input-block">
						<input type="radio" name="sex" value="男" title="男" disabled>
						<input type="radio" name="sex" value="女" title="女" checked disabled>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-form-item" pane>
			<label class="layui-form-label">项目概述:</label>
			<div class="layui-input-block">
				<input type="text" name="introduction" disabled required lay-verify="required" placeholder="请简述介绍项目" autocomplete="off"
				 class="layui-input">
			</div>
		</div>
		<!-- 分成两个部分的栅格系统 -->
		<div class="layui-row">

			<div class="layui-col-xs6">
				<!-- 这是编辑器 -->
				<div id="editor" style="pointer-events: none;"></div>
				<br />
			</div>
			<div class="layui-col-xs6">
				<!-- 聊天区 -->
				<!-- <div id="" style="overflow-y: auto;border: 1px solid black;height: 562px;">
					<label class="layui-form-label">聊天室</label>
					
				</div> -->
				<fieldset class="layui-elem-field" style="height: 563px;font-family: 楷体;">
					<legend>交流区</legend>
					<div class="layui-field-box" id="scrollText" style="height: 385px;font-size: 16px;overflow-y: scroll;">
						<!-- 评论区单个样式 -->
						<div style="margin-top: 5px; display: inline-block;">
							<img src="../../utils/image/hnistLogo.png" style="height: 34px;width: 34px;display: inline-block; float: right;" />
							<div style="width: 350px;display: inline-block;float: right;margin-right: 5px;text-align: right;font-size: 6px;">2019-11-11 19:30:56</div>
							<div style="background-color: #93D1FF;width: 350px;display: inline-block;float: right;margin-right: 5px;">报告写得很棒，思想敏锐，意图明确，继续加油,我相信你可以的！</div>
						</div>

						<div style="margin-top: 5px;display: inline-block; ">
							<img src="../../utils/image/天空1.jpg"  style="height: 34px;width: 34px;display: inline-block; float: left;"/>
							<div style="width: 350px;display: inline-block;margin-left: 5px; font-size: 6px;">2019-11-11
								19:30:56</div>
							<div style="background-color: #eeeeee;width: 350px;display: inline-block;margin-left: 5px; ">谢谢领导，我会继续加油，为政府，为人民！</div>
						</div>

						<div id="change"></div>
					</div>
					<div class="layui-form-item layui-form-text" style="font-size:15px;" id="editText">
						<label class="layui-form-label">编辑区<button class="layui-btn layui-btn-xs layui-btn-normal" type="button" style="float: right;width: 80px;"
							 onclick="sendMessage()">发送</button></label>
						<div class="layui-input-block">
							<textarea name="desc" id="textMessage" placeholder="请输入回复内容..." class="layui-textarea"></textarea>
						</div>
					</div>
				</fieldset>
				<center>

				</center>
			</div>
		</div>

	</div>
</form>

<link rel="stylesheet" href="../../utils/layui/css/layui.css">
<script src="../../utils/wangEditor/release/wangEditor.js"></script>
<script src="../../utils/layui/layui.js"></script>
<script>
	//时间戳变成时间（格式更加清楚）
	function getdate() {
		var now = new Date(),
			y = now.getFullYear(),
			m = now.getMonth() + 1,
			d = now.getDate();
		return y + "-" + (m < 10 ? "0" + m : m) + "-" + (d < 10 ? "0" + d : d) + " " + now.toTimeString().substr(0, 8);
	}
	//发送消息方法
	function sendMessage() {
		document.getElementById('change').outerHTML = '	<div style="margin-top: 5px;display: inline-block; ">' +
			'<img src="../../utils/image/hnistLogo.png" style="height: 34px;width: 34px;display: inline-block; float: right;" />' +
			'<div style="width: 350px;display: inline-block;float: right;margin-right: 5px;text-align: right;font-size: 6px;">' +
			getdate() + '</div>' +
			'<div style="background-color: #93D1FF;width: 350px;display: inline-block;float: right;margin-right: 5px;">' +
			document.getElementById('textMessage').value + '</div>' +
			'</div><div id="change"></div>';
		document.getElementById('textMessage').value = '';
	}
	//用JS获取地址栏参数的方法
	function GetQueryString(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg); //search,查询？后面的参数，并匹配正则
		if (r != null) return decodeURI(r[2]);
		return null;
	}

	var E = window.wangEditor;
	var editor = new E('#editor');
	// 自定义菜单配置
	editor.customConfig.menus = [
		'head', // 标题
		'bold', // 粗体
		'fontSize', // 字号
		'fontName', // 字体
		'italic', // 斜体
		'underline', // 下划线
		'strikeThrough', // 删除线
		'foreColor', // 文字颜色
		'backColor', // 背景颜色
		'link', // 插入链接
		'list', // 列表
		'justify', // 对齐方式
		'quote', // 引用
		'emoticon', // 表情
		'image', // 插入图片
		'table', // 表格
		'undo', // 撤销
		'redo' // 重复
	]
	editor.create();
	editor.$textElem.attr('contenteditable', false); // 禁用编辑功能

	function aheadLook() {
		editorLook.txt.html(editor.txt.html());
	}
	//layui.JavaScript代码区域
	layui.use(['element', 'form'], function() {
		var element = layui.element;

		var form = layui.form;

		//表单初始化
		if (GetQueryString("title") != null) {
			form.val("formTest", {
				"title": GetQueryString("title"),
				"introduction": GetQueryString("introduction"),
				"sex": "男",
				"city": 0,
				"manager[li]": true,
			});
			editor.txt.html(GetQueryString("context"));
			//已结束  批复1代表已结束
			if (GetQueryString("status") == "1") {
				document.getElementById("editText").style = "display:none;";
				document.getElementById("titleText").innerText = "查看已通过批复详情";
				document.getElementById("scrollText").style.height = "520px";
			}
		}

		//监听提交
		form.on('submit(formDemo)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
</script>
