<form class="layui-form" action="">
	<div class="layui-form-item">
		<label class="layui-form-label">输入框</label>
		<div class="layui-input-block">
			<input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">选择框</label>
		<div class="layui-input-block">
			<select name="city" lay-verify="required">
				<option value=""></option>
				<option value="0">北京</option>
				<option value="1">上海</option>
				<option value="2">广州</option>
				<option value="3">深圳</option>
				<option value="4">杭州</option>
			</select>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">复选框</label>
		<div class="layui-input-block">
			<input type="checkbox" name="like[write]" title="写作">
			<input type="checkbox" name="like[read]" title="阅读" checked>
			<input type="checkbox" name="like[dai]" title="发呆">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">开关</label>
		<div class="layui-input-block">
			<input type="checkbox" name="switch" lay-skin="switch">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">单选框</label>
		<div class="layui-input-block">
			<input type="radio" name="sex" value="男" title="男">
			<input type="radio" name="sex" value="女" title="女" checked>
		</div>
	</div>
	<div id="editor"></div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<link rel="stylesheet" href="../../utils/layui/css/layui.css">
<script src="../../utils/wangEditor/release/wangEditor.js"></script>
<script src="../../utils/layui/layui.js"></script>
<script>
	var E = window.wangEditor
	var editor = new E('#editor');
	// 或者 var editor = new E( document.getElementById('editor') )
	editor.create();
	//layui.JavaScript代码区域
	layui.use(['element','form'], function() {
		var element = layui.element;

		var form = layui.form;

		//监听提交
		form.on('submit(formDemo)', function(data) {
			layer.msg(JSON.stringify(data.field));
			return false;
		});
	});
</script>
