<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<style>
		.w-e-text-container{
	    height: 470px !important;
	}
	</style>
	<link rel="stylesheet" href="../../utils/layui/css/layui.css">
	<script src="../../utils/wangEditor/release/wangEditor.js"></script>
	<script src="../../utils/layui/layui.js"></script>
	<body>
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
			<legend>已提交列表(已结束批复)</legend>
		</fieldset>
		<div style="margin-left: 40px;margin-right: 40px;margin-top: 30px">

			<table class="layui-hide" id="LAY_table_user" lay-filter="demo"></table>
		</div>


		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">交流详情</a>
		    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>

		<script>
			var E = window.wangEditor;
			var editor = new E('#editor');
			editor.create();

			//layui.JavaScript代码区域
			layui.use(['element', 'form', 'table', 'layer'], function() {
				var element = layui.element;
				var table = layui.table;
				var form = layui.form;
				var $ = layui.$;
				var layer = layui.layer;

				//监听提交
				form.on('submit(formDemo)', function(data) {
					layer.msg(JSON.stringify(data.field));
					return false;
				});


				//方法级渲染
				table.render({
					elem: '#LAY_table_user',
					//url: '/demo/table/user/',
					cols: [
						[{
							field: 'project_name',
							title: '项目名',
							align: 'center'
						}, {
							field: 'introduction',
							title: '项目概述',
							align: 'center'
						}, {
							field: 'first_time',
							title: '项目创建时间',
							align: 'center'
						}, {
							field: 'recent_time',
							title: '项目最近更新时间',
							width: 160,
							align: 'center'
						}, {
							field: 'context',
							title: '报告内容',
							align: 'center'
						}, {
							fixed: 'right',
							title: '数据操作',
							align: 'center',
							toolbar: '#barDemo'
						}]
					],
					data: [{
						"id": '1',
						"project_name": 'hnist',
						"introduction": '湖南理工学院官方介绍',
						"first_time": '2019.11.02 ',
						"recent_time": '2019.11.04',
						"context": '<blockquote>大家一起加油吧!</blockquote><p><img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/3c/pcmoren_wu_org.png" alt="[污]" data-w-e="1"><img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/pcmoren_tian_org.png" alt="[舔屏]" data-w-e="1"><img src="http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/3c/pcmoren_wu_org.png" alt="[污]" data-w-e="1"></p><blockquote>一起奋斗！</blockquote>',
						"status": '1'
					}],
					id: 'testReload',
					page: true,
					height: 550
				});

				//监听工具条
				table.on('tool(demo)', function(obj) {
					var data = obj.data;
					if (obj.event === 'detail') {
						function jumpUrl() {
							window.location.href = 'reportExChange.html?title=' + data.project_name + '&introduction=' + data.introduction +
								'&context=' + data.context + '&status=' +data.status;
						}
						layer.msg("即将跳转到报告交流详情页面...");
						setTimeout(jumpUrl, 1500);
					} else if (obj.event === 'del') {
						layer.confirm('真的删除行么', function(index) {
							obj.del();
							layer.close(index);
						});
					}
				});


			});
		</script>


	</body>
</html>
